<h3>More about this flower arrangement!</h3>
<ul>
<li><%= @arrangement.card_description%></li>
<li><%= @arrangement.price%></li>
<li><%=image_tag @flower.img_url %></li>
</ul>
<div id="new-flower"></div>
<%= link_to "Delete this arrangement from Queue", flower_arrangement_path(@flower, @arrangement.id), :method => 'delete' %>
<!-- <a href="/arrangements/<%= @arrangement.id %>/edit"> Want to add more flowers to this arrangement?</a> -->
<%= link_to "Want to add more flowers to this arrangement?", new_flower_path, id: "new_link", :remote=> true %>
